@font-face {
  font-family: norse-bold;
  src: url(./fonts/Norse-Bold.otf);
}

:root {
  --color-green: #596d48;
}

html,
body {
  margin: 0;
  height: 100%;
  box-sizing: border-box;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-family: norse-bold, sans-serif;
  color: white;
  font-size: 60px;
  margin: 0;
}

h2 {
  font-size: 24px;
  color: #292929;
}

p {
  font-weight: bold;
  margin: 1vh 4vw;
}

.sign-up {
  margin-top: 0;
}

.container {
  display: flex;
  height: inherit;
}

.left-side {
  width: 35%;
  min-width: 400px;
  background-image: url(./img/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.logo {
  background-color: #00000071;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 30%;
  padding: 10px 0;
  width: 100%;
}

.logo-img {
  width: 70px;
  margin-right: 10px;
}

.credits {
  position: absolute;
  bottom: 0;
  color: white;
  font-size: 12px;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 5px;
}

.credits a {
  color: white;
}

.right-side {
  width: 65%;
  background-color: #f9fafa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  gap: 20px;
}

form {
  background-color: white;
  padding: 10px 4vw;
  box-shadow: 0px 5px 5px rgb(204, 204, 204);
}

.form-input-container {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  flex-wrap: wrap;
  gap: 30px;
}

.form-row {
  display: flex;
  gap: 4vw;
}

.form-input {
  display: flex;
  flex-direction: column;
  width: 300px;
}

label {
  color: #3d3d3d;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 2px;
}

input {
  height: 30px;
  border: 1px solid #e5e7eb;
  border-radius: 3px;
  font-size: 14px;
  padding-left: 6px;
}

.error-pwd {
  color: red;
  font-size: 12px;
  margin: 2px 0;
}

.error input:invalid {
  border-color: red;
}

input:focus {
  outline: none !important;
  box-shadow: 2px 5px 7px rgb(204, 204, 204);
  border: 1px solid blue;
}

button {
  background-color: var(--color-green);
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  padding: 15px 40px;
  margin: 30px 0;
  box-shadow: 2px 5px 7px rgb(204, 204, 204);
}

.log-in {
  margin-left: 4vw;
}

.log-in a {
  color: var(--color-green);
  text-decoration: none;
  .credits {
    position: absolute;
    bottom: 0;
  }
}
